<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Fiche de la poutine «{{vm.titre}}»</h1><span class="note-moyenne-totale">{{vm.calculerMoyenneCompletePoutine()}}</span>
            <p class="lead"><a href="#!/resto/{{vm.restoUrl}}">Retour au menu de {{vm.restoNom}}</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="images/images-poutines/{{vm.poutine.url}}.png" alt="{{vm.poutine.nom}}" class="image-poutine" />
    </div>
    <div class="col-xs-6 col-md-3 details-poutine">
        <h4>Détails sur la poutine</h4>
        <p>{{vm.poutine.commentaires_speciaux}}</p>
        <h4>Formats et prix</h4>
        <div ng-repeat="format in vm.poutine.formats_prix">
            <span class="format-poutine"><strong>{{format[0]}}: </strong></span> <span class="prix-poutine">{{format[1]}}$</span>
        </div>
        <h4>Ingrédients</h4>
        <div ng-repeat="ingredient in vm.poutine.ingredients">
            <span class="format-poutine">{{ingredient}}</span>
        </div>
    </div>
    <div class="col-xs-6 col-md-3 notes-poutine">
        <h4>Notes Moyennes</h4>
        <ul>
            <li><span class="nom-note">Sauce <span class="note">{{vm.moyenne_sauce}}/5</span></span>
            </li>
            <li><span class="nom-note">Frites <span class="note">{{vm.moyenne_frites}}/5</span></span>
            </li>
            <li><span class="nom-note">Fromage <span class="note">{{vm.moyenne_fromage}}/5</span></span>
            </li>
            <li><span class="nom-note">Fraîcheur <span class="note">{{vm.moyenne_fraicheur}}/5</span></span>
            </li>
            <li><span class="nom-note">Originalite <span class="note">{{vm.moyenne_originalite}}/5</span></span>
            </li>
            <li><span class="nom-note">Service <span class="note">{{vm.moyenne_service}}/5</span></span>
            </li>
        </ul>
        <a href="#">Voir les avis en détail</a>
    </div>
</div>
<dv class="row" id="critiques">
    <h3>Cette poutine a récu {{vm.poutine.avis.length}} avis</h3>
    <div class="notes-critiques" ng-repeat="(critiques, critique) in vm.poutine.avis">
        <div class="critique">
            <h4>Par {{critique.nom}} </h4>
            <p>{{critique.critique}}</p>
            <ul>
                <li>Sauce <span class="note">{{critique.note_sauce}}</span></li>
                <li>Frites <span class="note">{{critique.note_frites}}</span></li>
                <li>Fromage <span class="note">{{critique.note_fromage}}</span></li>
                <li>Fraîcheur <span class="note">{{critique.note_fraicheur}}</span></li>
                <li>Originalite <span class="note">{{critique.note_originalite}}</span></li>
                <li>Service <span class="note">{{critique.note_service}}</span></li>
            </ul>
        </div>
    </div>
</dv>