<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <div class="zone-nom">
                <h1>{{vm.titre}}</h1>
                <a href="{{vm.resto.liens.facebook}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="{{vm.resto.liens.site_web}}"><i class="fa fa-globe" aria-hidden="true"></i></a>
            </div>
            <p class="lead">{{vm.resto.coord.adresse}}, {{vm.resto.coord.ville}}, {{vm.resto.coord.tel}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 infos-resto">
        <div class="col-sm-6">
            <img src="images/logos-restos/{{vm.resto.url}}.png" alt="{{vm.titre}}" />
        </div>
        <div class="col-sm-6">
            <p class="resto-lead">{{vm.resto.description}}</p>
            <div class="particularites">
                <h4>Particularités</h4>
                <span class="infos-livraison" ng-if="vm.resto.livraison"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Livraison Disponible</span>
                <span class="infos-reservation" ng-if="vm.resto.reservation"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></i> Réservation nécessaire</span>
                <li ng-repeat="particularite in vm.resto.particularites"><i class="fa fa-hand-o-right" aria-hidden="true"></i> {{particularite}}</li>
            </div>
        </div>

        <!--<h3>Heures d'ouverture</h3>
        <li ng-repeat="(jour, heures) in vm.resto.heures_ouv"><strong class="jour-ouverture">{{jour}}</strong> {{heures}}</li>-->
    </div>
</div>
<div class="col-sm-12 zone-menu-page-resto">
    <h2>Les poutines offertes par {{vm.titre}}</h2>
    <div class="module-resto-vedette col-xs-12 col-sm-6" ng-repeat="poutine in vm.resto.menu_poutines">
        <a href="#!/resto/{{vm.url}}/poutines/{{poutine._id}}"> <img src="images/images-poutines/{{poutine.url}}.png" alt="Image de la poutine"></a>
        <div class="description-module-resto-accueil">
            <h4 class="nom-resto"><a href="#!/resto/{{vm.url}}/poutines/{{poutine._id}}">{{poutine.nom}}</a></h4>
            <h5>{{poutine.prix}}</h5>
        </div>
    </div>
</div>